.header-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}

.header-container .logo{
    margin-right: 20px;
}

.header-container .nav-container {
    margin-left: auto; 
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 50px; 
    border-radius: 50%;
    border:1px solid rgba(140, 63, 170, 0.2);
    -webkit-box-shadow:0 0 20px rgba(156, 142, 142, 0.3);
    box-shadow:0 0 20px rgba(105, 50, 138, 0.3);}

.title-container {
    display: flex; 
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.subtitle {
    font-size: 16px;
    color: #aaa8a8;
}

.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #333;
}

.nav-container .active {
    font-weight: bold;
    color: #8858a3;
}

.nav-container nav ul li a:hover {
    color: #ccc;
}

body, h2, h5{
    font-family: "Karma", sans-serif
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 81vh; 
    padding: 20px; 
}

.column {
    width: 48%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#contactData p {
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}
.footer-container .social-media {
    margin-left: auto; 
}
.footer-container .social-media a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
.footer-container .social-media a:hover {
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        margin-top: 50px; /* Espacio adicional entre el encabezado y el contenido en pantallas medianas */
        margin-bottom: 50px; /* Espacio adicional entre el contenido y el pie de página en pantallas medianas */
    }

    .column {
        width: 90%;
        margin: 0 auto 20px;
    }
}

/* Estilos para tamaños de pantalla pequeños */
@media screen and (max-width: 480px) {
    .column {
        width: 100%;
        margin: 0 0 20px;
    }
}