.header-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}

.header-container .logo{
    margin-right: 20px;
}

.header-container .nav-container {
    margin-left: auto; 
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 50px; 
    border-radius: 50%;
    border:1px solid rgba(140, 63, 170, 0.2);
    -webkit-box-shadow:0 0 20px rgba(156, 142, 142, 0.3);
    box-shadow:0 0 20px rgba(105, 50, 138, 0.3);}

.title-container {
    display: flex; 
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.subtitle {
    font-size: 16px;
    color: #aaa8a8;
}

.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #333;
}

.nav-container .active {
    font-weight: bold;
    color: #8858a3;
}

.nav-container nav ul li a:hover {
    color: #ccc;
}



body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif
}
.w3-bar-block .w3-bar-item {
    padding:20px
}




.footer-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}
.footer-container .social-media {
    margin-left: auto; 
}
.footer-container .social-media a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
.footer-container .social-media a:hover {
    color: #ccc;
}

.custom-section {
    padding: 20px 0; /* Espaciado interno */
}
 
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.col-md-6 {
    width: 45%; /* Ancho del contenedor de la imagen y el texto */
}
 
.col-md-6 img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.col-md-6-filosofia{
    width: 30%; /* Ancho del contenedor de la imagen y el texto */
}

.col-md-6-filosofia-texto{
    width: 40%; /* Ancho del contenedor de la imagen y el texto */
    margin-right: 20%;
}

.col-md-6-filosofia h3{ 
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    text-align: end;
}
 
.img-container {
    display: flex;
    justify-content: flex-start;
}
 
.img-container img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
}
 
.text-container {
    text-align: justify;
}
 
.text-justify {
    text-align: justify;
}
 
.row-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
