.header-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}

.header-container .logo{
    margin-right: 20px;
}

.header-container .nav-container {
    margin-left: auto; 
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 50px; 
    border-radius: 50%;
    border:1px solid rgba(140, 63, 170, 0.2);
    -webkit-box-shadow:0 0 20px rgba(156, 142, 142, 0.3);
    box-shadow:0 0 20px rgba(105, 50, 138, 0.3);}

.title-container {
    display: flex; 
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.subtitle {
    font-size: 16px;
    color: #aaa8a8;
}

.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #333;
}

.nav-container .active {
    font-weight: bold;
    color: #8858a3;
}

.nav-container nav ul li a:hover {
    color: #ccc;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif
}
.w3-bar-block .w3-bar-item {
    padding:20px
}

#content {
    height: calc(100vh - 180px); 
    box-sizing: border-box;
    overflow: hidden; 
}

#content > * {
    flex-grow: 1;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}
.footer-container .social-media {
    margin-left: auto; 
}
.footer-container .social-media a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
.footer-container .social-media a:hover {
    color: #ccc;
}


.car-icon {
    font-size: 24px; 
  }

.car-icon :hover {
    color: #948d8d;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  /* CSS personalizado */
.card {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #f9f9f9; /* Agregamos un color de fondo */
    margin-bottom: 30px;
    width: 100%;
}
.card img {
    width: 70%;
    display: block;
    margin: auto;
}
.card-body {
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}


.novedades-container .card {
    margin-bottom: 30px;
    width: 100%;
}

.novedades-container .card img {
    width: 100%;
    height: auto;
}

.novedades-container .card-body {
    padding: 20px;
}

.novedades-container .description {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.novedades-container .description h3 {
    margin-top: 0;
}

.novedades-container .description p {
    margin-bottom: 0;
}
