<!DOCTYPE html>
<html>
<head>
<title>Oky Dokey Store</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/styleContacto.css">
</head>
<body>
  <header>
    <div class="header-container">
        <div class="logo">
            <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
        </div>
        <div class="title-container">
            <div class="title">Oki Dokey Store</div>
            <div class="subtitle">Tienda K-pop</div>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                  <li><a href="../../../public/index.html" >Inicio</a></li>
                  <li><a href="productos.html" >Productos</a></li>
                  <li><a href="eventos.html" >Eventos</a></li>
                  <li><a href="nosotros.html" >Nosotros</a></li>
                  <li><a href="#" class="active">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </header>

   <!-- !PAGE CONTENT! -->
   <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:30px">
    <h1 class="w3-text-teal">Contacto</h1>
    <hr>

  <div class="container">

    <div class="column">
        <h2>¡Ponte en contacto con nosotros!</h2>
        <p>Te dejamos nuestras redes sociales y datos de contacto por si buscas mas información sobre la tienda, colaboraciones y para resolver tus dudas.</p>
        <h5>Redes Sociales</h5>
        <ul>
          <li><a href="https://www.tiktok.com/@oki.dokey.store">TikTok</a></li>
          <li><a href="https://www.instagram.com/oki.dokey.store/">Instagram</a></li>
          <li><a href="https://www.facebook.com/oki.dokey.store">Facebook</a></li>
        </ul>
        <h5>Datos de Contacto</h6>
          <ul>
            <li>Ciudad de México, CDMX.</li>
            <li><a href="mailto:oki.dokey.store@gmail.com">Correo de Contacto</a></li>
            <li>5555555555</li>
          </ul>
    </div>
    <div class="column">
        <h2>Quejas y Sugerencias</h2>
        <p>¿Tienes alguna queja o sugerencia sobre nuestra pagina?, ¡Haznola saber!, incluye tus datos de contacto seguido de tus comentarios.</p>
        <h2>Formulario de Contacto</h2>
        <form id="contactForm">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Teléfono:</label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<hr>
</div>

<!-- End Page Content -->

<footer class="footer-container">
  <div class="logo">
    <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
  </div>
  <div class="title-container">
    <div class="title">Oki Dokey Store</div>
    <div class="subtitle">Tienda K-pop</div>
  </div>
  <div class="social-media">
    <ul>
      <a href="https://www.facebook.com/oki.dokey.store" class="fa fa-facebook-square "></a>
      <a href="https://www.tiktok.com/@oki.dokey.store" class="fa fa-twitter "></a>
      <a href="https://www.instagram.com/oki.dokey.store/" class="fa fa-instagram"></a>
    </ul>
  </div>
</footer>

<script src="../src/contacto.js"></script>

</body>
</html>