<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
            </div>
            <div class="title-container">
                <div class="title">Oki Dokey Store</div>
                <div class="subtitle">Tienda K-pop</div>
            </div>
            <div class="nav-container">
                <nav>
                    <ul>
                        <li><a href="../../../public/index.html">Inicio</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="eventos.html">Eventos</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:30px">
        <h1 class="w3-text-teal">Nosotros</h1>
        <hr>
        <h2 class="w3-text-teal" style="text-align: center;">Acerca de Oki Dokey Store</h2>
        <hr>
        <section class="custom-section">
            <div class="container">
                <div class="row-us">
                    <div class="col-md-6">
                        <img src="https://static.wixstatic.com/media/9cfcf9_2b5ae5161fc04ded8928418b283bffe7~mv2.png/v1/fill/w_719,h_512,al_c,lg_1,q_90,enc_auto/9cfcf9_2b5ae5161fc04ded8928418b283bffe7~mv2.png" alt="Imagen" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p class="text-justify">
                            La historia de Oki Dokey Store comenzó en un evento de cup sleeve para conmemorar el aniversario de las canciones en solitario de dos integrantes del grupo BTS. Mientras esperábamos nuestro turno para obtener nuestras bebidas conmemorativas, mi tía Paola Aguilar sugirió la idea de emprender y crear nuestros propios productos. En medio de la pandemia, surgió la idea de producir gel antibacterial con imágenes de los personajes característicos de BTS.

                            Decidimos formalizar nuestro emprendimiento y buscamos un nombre para la tienda. Fue entonces cuando, viendo una serie, descubrimos el encantador nombre de "Oki Dokey". Con el tiempo, asistimos a más eventos para darnos a conocer y a mediados de septiembre creamos nuestro perfil en Instagram, donde comenzamos a mostrar nuestros productos. Conforme ganamos seguidores, nos convertimos en una tienda relevante en la comunidad K-pop, lo que nos permitió ser invitados a participar en bazares con temática de K-pop.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <hr>
        <section class="custom-section">

            <h2 style="text-align: start; margin-left: 6%;">Filosofia</h2> 
            <!-- Misión-->
            <div class="container">

                <div class="row-us">

                    <div class="col-md-6-filosofia">
                        <h3>Misión</h3>
                    </div>

                    <div class="col-md-6-filosofia-texto">
                        <p class="text-justify">
                            En Oki Dokey Store, nuestra misión es ser el destino definitivo para los aficionados del K-POP en México, ofreciendo una amplia gama de productos auténticos y de alta calidad que reflejen la esencia y la pasión de la cultura pop coreana. Nos esforzamos por proporcionar una experiencia de compra excepcional, fomentando la conexión entre nuestros clientes y sus ídolos favoritos.
                        </p>
                    </div>

                </div>
            </div>
            <!-- Visión-->
            <div class="container">

                <div class="row-us">

                    <div class="col-md-6-filosofia">
                        <h3>Visión</h3>
                    </div>

                    <div class="col-md-6-filosofia-texto">
                        <p class="text-justify">
                          En Oki Dokey Store, aspiramos a liderar el mercado mexicano de productos K-pop, siendo reconocidos por nuestra autenticidad, innovación y dedicación a la satisfacción del cliente. Nos esforzamos por ser un destino completo donde los fans encuentren todo lo necesario para expresar su pasión por la música y la cultura pop coreana, convirtiendo cada compra en una experiencia emocionante y memorable.
                        </p>
                    </div>

                </div>
            </div>
            <!-- Valores -->
            <div class="container">

              <div class="row-us">

                  <div class="col-md-6-filosofia">
                      <h3>Valores</h3>
                  </div>

                  <div class="col-md-6-filosofia-texto">
                    <ol>
                      <li> <p class="text-justify">
                        Autenticidad: Nos comprometemos a ofrecer productos genuinos y licenciados que reflejen fielmente la esencia del K-POP.
                      </p></li>
                      <li> <p class="text-justify">
                        Pasión: Impulsados por la pasión por la cultura pop coreana, buscamos inspirar y conectar a los fans a través de nuestros productos y servicios.
                      </p></li>
                      <li> <p class="text-justify">
                        Integridad: Operamos con honestidad, transparencia y ética en todas nuestras interacciones, construyendo relaciones de confianza con nuestros clientes y socios.
                      </p></li>
                      <li> <p class="text-justify">
                        Innovación: Buscamos constantemente nuevas formas de mejorar y adaptarnos a las necesidades cambiantes de nuestros clientes, manteniéndonos a la vanguardia de la industria.
                      </p></li>
                      <li> <p class="text-justify">
                        Excelencia en el servicio: Nos esforzamos por brindar una experiencia de compra excepcional, ofreciendo un servicio amable, eficiente y personalizado en cada interacción con nuestros clientes.
                      </p></li>
                    </ol>
                      <p class="text-justify">
                        
                      </p>
                  </div>

              </div>
          </div>

        </section>
        <hr>
    </div>
    <!-- !END PAGE CONTENT! -->


    <footer class="footer-container">
        <div class="logo">
            <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
        </div>
        <div class="title-container">
            <div class="title">Oki Dokey Store</div>
            <div class="subtitle">Tienda K-pop</div>
        </div>
        <div class="social-media">
            <ul>
                <a href="#" class="fa fa-facebook-square "></a>
                <a href="#" class="fa fa-twitter "></a>
                <a href="#" class="fa fa-instagram"></a>
            </ul>
        </div>
    </footer>

</body>

</html>