<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="../../../public/img/header_logo.jpg" type="image/jpg">
</head>
<body>

  <header>
    <div class="header-container">
        <div class="logo">
          <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
        </div>
        <div class="title-container">
            <div class="title">Oki Dokey Store</div>
            <div class="subtitle">Tienda K-pop</div>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                  <li><a href="../../../public/index.html" >Inicio</a></li>
                  <li><a href="#" class="active">Productos</a></li>
                  <li><a href="eventos.html" >Eventos</a></li>
                  <li><a href="nosotros.html" >Nosotros</a></li>
                  <li><a href="contacto.html" >Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </header>


<!-- !PAGE CONTENT! -->
   <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:30px">
   <h1 class="w3-text-teal">Productos</h1>
   <hr>

   <div class="nav-categories">
      <nav>
          <ul>
            <li><a href="#" class="categoria" data-categoria="Oki Outfit">Oki Outfit</a></li>
            <li><a href="#" class="categoria" data-categoria="Oki Fanmade">Oki Fanmade</a></li>
            <li><a href="#" class="categoria" data-categoria="Merch Oficial">Merch Oficial</a></li>
         </ul>
      </nav>
   </div>
   <hr>


   <div class ="products">

   </div>

   <!-- Modal de Detalle de Producto -->
   <div id="product-detail-modal" class="modal">
    <div class="modal-producto-content">
        <div id="product-detail-content">
      </div>
    </div>
   </div>




   </div>

  <!-- End Page Content -->
  
  <footer class="footer-container">
    <div class="logo">
      <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
    </div>
    <div class="title-container">
      <div class="title">Oki Dokey Store</div>
      <div class="subtitle">Tienda K-pop</div>
    </div>
    <div class="privacy-container">
      <ul>
          <li><a href="../../../public/docs/POLÍTICA DE LA TIENDA_Oki.pdf" onclick="showPdfModal(event, this)">Aviso de privacidad</a></li>
          <li><a href="../../../public/docs/ENVIO Y DEVOLUCIONES_Oki.pdf" onclick="showPdfModal(event, this)">Política de envío y devoluciones</a></li>
      </ul>
    </div>
    <div id="pdfModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closePdfModal()">&times;</span>
          <iframe id="pdfViewer" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>  
    <div class="social-media">
      <ul>
        <a href="#" class="fa fa-facebook-square "></a>
        <a href="#" class="fa fa-twitter "></a>
        <a href="#" class="fa fa-instagram"></a>
      </ul>
    </div>
  </footer>

  <script src="../src/productos.js"></script>
  <script src="../../app.js"></script>  

</body>

</html>