<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <header>
    <div class="header-container">
        <div class="logo">
          <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
        </div>
        <div class="title-container">
            <div class="title">Oki Dokey Store</div>
            <div class="subtitle">Tienda K-pop</div>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                  <li><a href="../../../public/index.html" >Inicio</a></li>
                  <li><a href="#" class="active">Productos</a></li>
                  <li><a href="eventos.html" >Eventos</a></li>
                  <li><a href="nosotros.html" >Nosotros</a></li>
                  <li><a href="contacto.html" >Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </header>


<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:30px">
  <h1 class="w3-text-teal">Productos</h1>
  <hr>

  <div class="nav-categories">
    <nav>
          <ul>
            <li><a href="#" class="active">Oki Outfit</a></li>
            <li><a href="#" >Oki Fanmade</a></li>
            <li><a href="#" >Merch Oficial</a></li>
         </ul>
   </nav>
  </div>


  <hr>
  <h2 class="w3-text-teal" style="text-align: center; margin-top: 40px; margin-bottom: 20px;">Oki Outfit</h2>
  <!-- First Photo Grid-->
  <section class="container">
     <div class="row">
        <div class="col-md-6 col-lg-4">
           <div class="card">
              <img src="../../../public/img/Oki Outfit/Aespa.jpg" alt="Sandwich">
              <div class="card-body">
                 <h3>Playera Aespa</h3>
                 <p class="card-text">Oki Outfit.</p>
                 <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-lg-4">
           <div class="card">
              <img src="../../../public/img/Oki Outfit/Agust D.jpg" alt="Sandwich">
              <div class="card-body">
                 <h3>Playera Agust D</h3>
                 <p class="card-text">Oki Outfit.</p>
                 <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-lg-4">
           <div class="card">
              <img src="../../../public/img/Oki Outfit/Born Pikn Pikn.png" alt="Sandwich">
              <div class="card-body">
                 <h3>Playera Born Pikn Pikn</h3>
                 <p class="card-text">Oki Outfit.</p>
                 <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
              </div>
           </div>
        </div>

        <hr>
     <!-- Second Photo Grid-->
     <div class="row">
        <div class="col-md-6 col-lg-4">
           <div class="card">
              <img src="../../../public/img/Oki Outfit/Born Pink Black.png" alt="Sandwich">
              <div class="card-body">
                 <h3>Playera Born Pink Black</h3>
                 <p class="card-text">Oki Outfit.</p>
                 <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-lg-4">
           <div class="card">
              <img src="../../../public/img/Oki Outfit/Daewchita.png" alt="Sandwich">
              <div class="card-body">
                 <h3>Playera Daewchita</h3>
                 <p class="card-text">Oki Outfit.</p>
                 <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-lg-4">
           <div class="card">
              <img src="../../../public/img/Oki Outfit/Hobi On The Street.png" alt="Sandwich">
              <div class="card-body">
                 <h3>Playera Hobi on the Street</h3>
                 <p class="card-text">Oki Outfit.</p>
                 <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
              </div>
           </div>
        </div>

        <hr>
        <!-- Third Photo Grid-->
        <div class="row">
          <div class="col-md-6 col-lg-4">
             <div class="card">
                <img src="../../../public/img/Oki Outfit/Hoodie Born Pink.jpg" alt="Sandwich">
                <div class="card-body">
                   <h3>Hoodie Born Pink</h3>
                   <p class="card-text">Oki Outfit.</p>
                   <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
                </div>
             </div>
          </div>
          <div class="col-md-6 col-lg-4">
             <div class="card">
                <img src="../../../public/img/Oki Outfit/HOPE.jpg" alt="Sandwich">
                <div class="card-body">
                   <h3>Playera HOPE</h3>
                   <p class="card-text">Oki Outfit.</p>
                   <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>                  
                </div>
             </div>
          </div>
          <div class="col-md-6 col-lg-4">
             <div class="card">
                <img src="../../../public/img/Oki Outfit/Im The King.png" alt="Sandwich">
                <div class="card-body">
                   <h3>Playera Im The King</h3>
                   <p class="card-text">Oki Outfit.</p>
                   <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
                </div>
             </div>
          </div>
       </div>
       <!-- Fourth Photo Grid-->
       <div class="row">
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Jimin Face.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Jimin Face</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Jimin.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Jimin</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>                  
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/JK Seven.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera JK Seven</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
      </div>
      <!-- Fifth Photo Grid-->
      <div class="row">
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Layover.png" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Layover</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Marry Me.png" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Marry Me</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>                  
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/SEVEN.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera SEVEN</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
      </div>
      <!-- sixth Photo Grid-->
      <div class="row">
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Stray Kids.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Stray Kids</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Suga.png" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Suga</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>                  
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Terraplanista.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Terraplanista</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
      </div>
      <!-- seventh Photo Grid-->
      <div class="row">
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/The Astronaut.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera The Astronaut</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Yet To Come Black.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Yet To Come Black</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>                  
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Yet To Come White.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Yet To Come White</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
      </div>
      <!-- Eighth Photo Grid-->
      <div class="row">
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Yoongi Collage.jpg" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Yoongi Collage</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="card">
               <img src="../../../public/img/Oki Outfit/Yoongi Mandala.png" alt="Sandwich">
               <div class="card-body">
                  <h3>Playera Yoongi Mandala</h3>
                  <p class="card-text">Oki Outfit.</p>
                  <a  class="fa fa-shopping-cart car-icon" aria-hidden="true"></a>                  
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4"> </div>
      </div>
  </section>

  <hr>

  </div>

  <!-- End Page Content -->
  
  <footer class="footer-container">
    <div class="logo">
      <img src="../../../public/img/header_logo.jpg" alt="Logo de Tienda K-pop">
    </div>
    <div class="title-container">
      <div class="title">Oki Dokey Store</div>
      <div class="subtitle">Tienda K-pop</div>
    </div>
    <div class="social-media">
      <ul>
        <a href="#" class="fa fa-facebook-square "></a>
        <a href="#" class="fa fa-twitter "></a>
        <a href="#" class="fa fa-instagram"></a>
      </ul>
    </div>
  </footer>

</body>

<script src="../src/productos.js"></script>

</html>