.header-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}

.header-container .logo{
    margin-right: 20px;
}

.header-container .nav-container {
    margin-left: auto; 
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 50px; 
    border-radius: 50%;
    border:1px solid rgba(140, 63, 170, 0.2);
    -webkit-box-shadow:0 0 20px rgba(156, 142, 142, 0.3);
    box-shadow:0 0 20px rgba(105, 50, 138, 0.3);}

.title-container {
    display: flex; 
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.subtitle {
    font-size: 16px;
    color: #aaa8a8;
}

.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #333;
}

.nav-container .active {
    font-weight: bold;
    color: #8858a3;
}

.nav-container nav ul li a:hover {
    color: #ccc;
}



body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif
}
.w3-bar-block .w3-bar-item {
    padding:20px
}


.footer-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 40px;
}
.footer-container .social-media {
    margin-left: auto; 
}
.footer-container .social-media ul a {
    font-size: 24px;
}
.footer-container .social-media a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
.footer-container .social-media a:hover {
    color: #ccc;
}


.nav-categories {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.nav-categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.nav-categories ul li {
    background-color: #03b3a1;
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .nav-categories ul li:last-child {
    margin-right: 0;
  }
  
  .nav-categories ul li a {
    text-decoration: none;
    color:#ffffff;
    transition: background-color 0.3s ease;
  }
  
  .nav-categories nav ul li:hover {
    background-color: #009688;
  }

  .nav-categories .active {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px; 
    height: 80%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }
  
  .modal-content iframe {
    width: 100%; 
    height: 100%; 
  }
  
  .close {
    position: absolute;
    top: -3px;
    right: 3px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .close:hover,
  .close:focus {
    color: rgb(190, 15, 15);
    text-decoration: none;
  }
  
  #modalBackground {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 52, 52, 0.5);
  }


.privacy-container{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.privacy-container ul li{
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.privacy-container ul li a{
    text-decoration: none;
    color:#aaa8a8;
    transition: background-color 0.3s ease;
}


.nav-profile {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.nav-profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.nav-profile ul li {
    background-color: #03b3a1;
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .nav-profile ul li:last-child {
    margin-right: 0;
  }
  
  .nav-profile ul li a {
    text-decoration: none;
    color:#ffffff;
    transition: background-color 0.3s ease;
  }
  
  .nav-profile nav ul li:hover {
    background-color: #009688;
  }

  .nav-profile .active {
    font-weight: bold;
}

table.table {
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 100px;
    padding: 450px;
}
